<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="index.css">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="shortcut icon" href="./img/beisbol.jpg">
    <title> Rodant i Riallant</title>
</head>


<body>

    <div id="app">
        <header>

            <nav class="header__navbar">
                <h1>RODANT I RIALLANT</h1>
                <div class="menu-icon">&#9776;</div>
                <ul class="nav-list" id="nav-list">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
                <button class="cart-button" @click="canviarPantalla('checkout')">
                    <i class="fas fa-shopping-cart"></i> Carro
                </button>
            </nav>
        </header>
        <div v-if="getPantalla() == `titol`" class="app__landing landing">
            <div class="landing-botiga">
            <button @click="canviarPantalla(`botiga`)">Botiga</button>
            <div class="landing__informacio informacio">
                <h1 class="landing-salutacio">Benvolgut a Rodant i Riallant</h1>
                <h2>Horaris d'Atenció</h2>
                <p>Dilluns a Divendres: 9:00 - 19:00</p>
                <h2>Contacte</h2><p>Tèlefon: +34 5872568978</p>
                <p>Correu: <a href="mailto:info@rodantiriallant.com">info@rodantiriallant.com</a></p>
                <p>Ens trobem el Carrer de les Pilotes (La Rodona)</p>
                <img src="./img/botiga.png" alt="Imatge de la botiga Rodant i Riallant">
            </div>
        </div>
        </div>
        <div v-if="getPantalla() == `botiga`" class="app__botiga">
            <div class="botiga__superior">
                <button @click="canviarPantalla(`titol`)">Inici</button>
                <button @click="mostrarFiltres()">Filtrar</button>
                <div v-if="mostrarCategories">
                    <div>
                        <button @click="filtrar(-1)">Reset</button>
                    </div>
                    <div v-for="(categoria, index) in categories" @key="index">
                        <button @click="filtrar(categoria.id)">{{categoria.nom}}</button>
                    </div>
                </div>
                <div>
                    <input v-model="busqueda" placeholder="Buscar productos" />
                  </div>
            </div>
            <div class="botiga__menu">
                <div v-for="(producte, index) in productes">
                    <div v-if="producte.nom.toLowerCase().includes(this.busqueda.toLowerCase().trim())">
                        <div :id="'id' + index" :class="['botiga__item', { 'botiga__item-transition': aplicarEfecte }]">
                            <div class="botiga__nom">{{producte.nom}}</div>
                            <div class="botiga__butons">
                                <input type="button" value="-" @click="disminuirDemanats(index)">
                                <input class="botiga__quantitat" v-model="productes[index].counter" name="id{{index}}" min=0
                                    max=9>
                                <input type="button" value="+" @click="augmentarDemanats(index)">
                            </div>
                            <img class="botiga__imagen" :src="producte.img" alt="producte">
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- <div class="ticket ocult">
                <h2>Ticket</h2>
                <div class="ticket__productes">
                    <div v-for="(producteComprar, index) in compra">
                        <div class="productes__producte producte">
                            <div class="producte__foto">
                                <img :src="producteComprar.img" alt="producte">
                            </div>
                            <div class="producte__titol">
                                {{producteComprar.nom}}
                            </div>
                            <div class="producte__preu">
                                {{(Math.round(producteComprar.preu*producteComprar.counter*100)/100).toFixed(2)}}€
                            </div>
                            <div class="producte__quantitat">
                                {{producteComprar.counter}}
                            </div>
                        </div>
                    </div>

                </div>
            </div> -->
        </div>
        <div v-if="getPantalla() == `checkout`">
            <button @click="canviarPantalla(`botiga`)">Botiga</button>
            <div v-for="(producteComprar, index) in compra">
                <div class="productes__producte producte">
                    <div class="producte__foto">
                        <img :src="producteComprar.img" alt="producte">
                    </div>
                    <div class="producte__titol">
                        <h2>{{producteComprar.nom}}</h2>
                    </div>
                    <div class="producte__preus preus">
                        <div class="preus__preu-unic">
                            <p>{{producteComprar.preu}}€</p>
                        </div>
                        <div class="preus__quantitat">
                            <p>{{producteComprar.counter}}</p>
                        </div>
                        <div class="preus__preu-quantitat">
                            <p>{{(Math.round(producteComprar.preu*producteComprar.counter*100)/100).toFixed(2)}}€</p>
                        </div>

                    </div>

                </div>
            </div>
            <h2 class="total__preu-producte">{{getTotal()}}</h2>
            <div class="formulari__usuari email">
                <label for="email">Email </label>
                <input v-model="email" id="email">
                <button @click="ferCompra()">
                    <h1>COMPRAR</h1>
                </button>
            </div>

        </div>
        <div v-if="getPantalla() == `comanda`" class="app__comanda comanda">
            <h1 class="comanda__numero">Comanda nº{{comanda.id}}</h1>
            <!-- <h2 class="comanda__estat" :class="'comanda__estat--' + comanda.estat">Estat: {{comanda.estat}}</h2> -->
            <!-- Crear progreso estado aquí -->
            <!-- <p class="arrow_test">arrow test : &#8593;  &#10514; <i class="comanda__progress--marker"></i></p> -->
            <div class="comanda__estat estat">
                
                <p class="estat__part estat__part--0">Pendent</p>
                <p class="estat__part estat__part--1">Preparant-se</p>
                <p class="estat__part estat__part--2">Enviant-se</p>
                <p class="estat__part estat__part--3">Repartint-se</p>
                <p class="estat__part estat__part--4">Per recollir</p>
                <img class="estat__part--marcador" :class="`part__marcador--${comanda.estat}`" src="progress__arrow.png" alt="fletxa" srcset="">

                <!-- :class="`part__marcador--` + comanda.estat " -->
            </div>
            <button @click="canviarPantalla(`botiga`)">Botiga</button>
        </div>
    </div>
    <footer>
        <p>&copy; 2023 Rodant i Riallant. Tots els seus drets reservats.</p>
    </footer>
    <script type="module" src="index.js"></script>
</body>

</html>