
@font-face {
    font-family: 'Tilt Neon';
    src: url('./fonts/TiltNeon-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/Ubuntu-Bold.ttf');
    src: url('./fonts/Ubuntu-BoldItalic.ttf');
    src: url('./fonts/Ubuntu-Italic.ttf');
    src: url('./fonts/Ubuntu-Light.ttf');
    src: url('./fonts/Ubuntu-LightItalic.ttf');
    src: url('./fonts/Ubuntu-Medium.ttf');
    src: url('./fonts/Ubuntu-MediumItalic.ttf');
    src: url('./fonts/Ubuntu-Regular.ttf');
}
:root {
    --mida-item: 200px;
    --mida-primera-barra: -9vw;
    --mida-total-part: 18vw;
    --aquamarine-blue-50: #effcfa;
    --aquamarine-blue-100: #d5f8f7;
    --aquamarine-blue-200: #b1f0ef;
    --aquamarine-blue-300: #69e2e2;
    --aquamarine-blue-400: #3dd0d3;
    --aquamarine-blue-500: #22b3b8;
    --aquamarine-blue-600: #1f919b;
    --aquamarine-blue-700: #1f757f;
    --aquamarine-blue-800: #225f68;
    --aquamarine-blue-900: #205059;
    --aquamarine-blue-950: #10353c;
}


body {
    background-color: var(--aquamarine-blue-50);
    margin: 0;
    padding: 0;
    font-family:'Ubuntu';
}

h1{
    margin: 0;
}

button {
    background-color:var(--aquamarine-blue-500);
    color: #fff;
    padding: 2vmin 2vmax;
    border: none;
    border-radius: 5px;
    font-size: 1.4em;
}
header{
    top: 0;
    background-color: var(--aquamarine-blue-100);
    height: 16vh;
    position: relative;
    padding-top: 2vh;
    padding-left: 5vw;
}
header h1{
    font-family: 'Tilt Neon';
}
.toggle {
    color:var(--aquamarine-blue-900);
    position: absolute;
    top: 3vh;
    left: 2vw;
    z-index: 2;
    text-decoration: none;
    font-size: 3rem;
    transition: all .15s ease;
  
  }
#nav-toggler{
    display: none;
  }
  #nav-toggler:checked + .page-wrap .hidden-nav {
    left:0;
  }
  #nav-toggler:checked + .page-wrap .toggle {
    top: 0;
    color: white;
    left: 25%;
    position: fixed;
  }
  #nav-toggler:checked + .page-wrap .main-content {
    padding-left: 0;
    transform: scale(.7);
  }
  .main-content{
    position: relative;
    z-index: 0;
  }
  .hidden-nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -60%;
    z-index: 1;
    width: 50%;
    padding: 20px;
    background-color: var(--aquamarine-blue-950);
    transition: all .15s ease;
    height: 100%;
    
  }
.hidden-nav ul{
    margin-block: 0;
    padding-inline: 0;
    margin-top: 13vh;
    text-align: center;
  }
.hidden-nav li {
    list-style-type: none;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
  }
.hidden-nav li {
    margin-bottom: 1em;
  }
.filtre-botiga li{
    background-color: #1f919b;
    border: 2px solid #69e2e2;
    border-radius: 25px;

}
.cart-button {
    position: absolute;
    top: 2vh;
    right: 5vw;
    background-color: var(--aquamarine-blue-500);
    color: #fff;
    padding: 4vmin 5vmax;
    border: none;
    border-radius: 5px;
    margin-left: auto;
    font-size: 30px;
}

.cart-button i.fa-shopping-cart {
    margin-right: 5px;
    font-size: 30px;
}
.landing-botiga{
   text-align: center;
   margin: 20px;
   font-family: 'Ubuntu';
   line-height: 1.5em;
   color: black;
}
.landing-salutacio{
    font-size: 2em;
    color: var(--aquamarine-blue-900);
    margin-bottom: 20px;
}
.informacio {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: var(--aquamarine-blue-100);
    margin-top: 15px;

  }
  
.landing__informacio h1{
    font-size: 2em;
    color: var(--aquamarine-blue-900);
    line-height: 1.5;
}
.landing__informacio h2{
    font-size: 1.3em;
    color: var(--aquamarine-blue-800);
    text-decoration: underline;
}
.landing__informacio p{
    font-size: 1.05em;
}
.landing__informacio a{
    font-size: 1.05em;
    text-decoration: none;
    color: black;
}
.landing__informacio img{
    height: 25vh;
    object-fit: cover;
    width: 85%;
    margin-top: 5%;
    align-items: center;
    margin: auto;
    display: flex;
    padding-bottom: 25px;
}

.botiga__superior>button{
    display: block;
}
.ticket__productes{
    background-color: var(--aquamarine-blue-950);
    color: white;
    position: sticky;
    bottom: 0;
    height: 12vh;
    min-height: 75px;
    width: 100%;
    text-align: center;
}

.ticket-producte{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.ticket-producte h2{
    color: white;
    font-size: 1.5em;
}
.ticket-producte p{
    color: white;
    font-size: 1.25em;
}
.productes__producte {
    margin: 5px;
    border: 1px solid black;
}

.producte {
    display: grid;
    grid-template-areas:
        "foto titol titol"
        "foto preu quantitat";
        
} 

.producte__foto {
    grid-area: foto;
}

.producte__titol {
    grid-area: titol;
}

.producte__preu {
    grid-area: preu;
}

.producte__quantitat {
    grid-area: quantitat;
}

.botiga__menu {
    grid-area: menu;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.botiga__item {
    position: relative;
    margin: 25px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    height: var(--mida-item);
    width: var(--mida-item);
    max-height: 35vw;
    max-width: 35vw;
    display: block;
    align-items: center;
    text-align: center;
    transition: 0.5s;
}
.botiga__item-transition:hover{
    transform:scale(1.15,1.15);
 }
.botiga__nom {
    display: none;
    font-variant: small-caps;
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #3dd0d371;
    display: flex;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 1px black;
}

.botiga__butons {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.botiga__imagen {
    width: var(--mida-item);
    height: var(--mida-item);
    max-height: 35vw;
    max-width: 35vw;
    object-fit: cover;
}



.botiga__quantitat {
    width: 30px;
    color: black;
    
}

input[type=button] {
    border-radius: 50%;
    width: 50px;
    height: 45px;
    background-color: var(--aquamarine-blue-500);
    color: white;
    border-color: var(--aquamarine-blue-500);
    font-size: 2em;
    margin-left: 5px;
    margin-right: 2px;
}

input {
    text-align: center;
}

.producte__foto {
    grid-area: foto;
}

.producte__titol {
    grid-area: titol;
}

.producte__preu-stock {
    grid-area: stock-preu;
}

.producte__preu-quantitat {
    grid-area: quantitat-preu;
}

.producte__quantitat {
    grid-area: quantitat;
}

.productes__producte {
    display: grid;
    grid-template-areas:
        "foto titol"
        "foto preus";
    grid-template-columns: 2fr 3fr;
    margin: 5px;
    padding-right: 2vh;
    border: 1px solid black;
    background-color: var(--aquamarine-blue-950);
}

.productes__producte>div {
    text-align: center;
    color: white;
}

.producte__foto img {
    height: 20vh;
    object-fit: cover;
    width: 80%;
    margin-top: 5%;
}

.producte__titol h2 {
    font-size: 2em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 55vw;
}

.producte__preus {
    grid-area: preus;
}

.preus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.preus__quantitat p {
    font-size: 2em;
}

.preus__preu-unic p {
    font-size: 2em;
}

.preus__preu-quantitat p {
    font-size: 2em;
    font-weight: bold;
}


.total__preu-producte {
    text-align: center;
    font-size: 40px;
    color: var(--aquamarine-blue-700);
}

.formulari__usuari {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

label {
    font-weight: bold;
    font-size: 32px;
    color: var(--aquamarine-blue-900);
    display: block;
}

input[type="text"] {
    text-align: justify;
    width: 70%;
    padding: 30px;
    margin: 5px 0;
    font-size: 32px;
}

input[type="submit"] {
    align-items: center;
    background-color: var(--aquamarine-blue-500);
    color: #fff;
    padding: 35px 60px;
    border: none;
    font-size: 28px;
    display: block;
}

.app__comanda {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
}

.app__comanda>* {
    text-align: center;
}

.comanda__estat{
    position: relative;
}

p.estat__part {
    width: var(--mida-total-part);
    margin: 0;
    padding: 3vh 0;
    font-weight: 600;
    font-size: large;
}

.estat__part--0 {
    background-color: rgb(255, 0, 0);
}

.estat__part--1 {
    background-color: rgb(255, 153, 0);
}

.estat__part--2 {
    background-color: rgb(238, 255, 0);
}

.estat__part--3 {
    background-color: rgb(0, 255, 64);
}

.estat__part--4 {
    background-color: rgb(0, 255, 242);
}

.estat__part--marcador{
    height: 15vw;
    rotate: 180deg;
    position: absolute;
    top: 75%;
    left: -7.5vw;
    transition: transform 3s ease-in-out 1s;
}

.part__marcador--0{
    transform: translateX(var(--mida-primera-barra));
}

.part__marcador--1{
    transform: translateX(calc(var(--mida-primera-barra) - var(--mida-total-part)));
}

.part__marcador--2{
    transform: translateX(calc(var(--mida-primera-barra) - var(--mida-total-part) * 2));
}

.part__marcador--3{
    transform: translateX(calc(var(--mida-primera-barra) - var(--mida-total-part) * 3));
}

.part__marcador--4{
    transform: translateX(calc(var(--mida-primera-barra) - var(--mida-total-part) * 4));
}

.comanda__estat{
    display: flex;
}

.arrow_test{
    font-weight: bolder;
    font-size: larger;
}

footer {
    text-align: center;
    background-color: var(--aquamarine-blue-950);
    color: white;
    padding: 15px 0;
    z-index: 3;
}

.email input{
    margin-bottom: 7vh;
}

footer p {
    color: white;
    text-decoration: none;
    font-size: 25px;
    z-index: 3;
}

.ocult {
    display: none;
}