
body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.app__tenda{
    display: grid;
    grid-template-areas: "superior superior"
                        "menu ticket"
                        "inferior inferior";
    grid-template-columns: 7fr 3fr;
}

.superior{
    grid-area: superior;
}

.ticket{
    grid-area: ticket;
    display: grid;
    grid-template-rows: 7vh auto;
}

.productes__producte{
    margin: 5px;
    border: 1px solid black;
}

.producte{
    display: grid;
    grid-template-areas: 
            "foto titol titol"
            "foto preu quantitat";
}

.producte__foto{
    grid-area: foto;
}

.producte__foto img{
    width: 136px;
    
}

.producte__titol{
    grid-area: titol;
}

.producte__preu{
    grid-area: preu;
}

.producte__quantitat{
    grid-area: quantitat;
}

.inferior{
    grid-area: inferior;
}

.menu{
    grid-area: menu;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.item{
    position: relative;
    margin: 25px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    height: 200px;
    display: block;
}

.nom{
    display: none;
    font-family: Arial, Helvetica, Sans-serif;
    font-variant: small-caps;
}

.butons{
    display: none;
}

.butons>input:nth-child(2){
    width: 30px;
    opacity: 50%;
}

input[type=button]{
    border-radius: 50%;
    width: 23px;
}

input{
    text-align: center;
}

.item:hover{
    box-shadow:  15px 15px 5px 0px rgba(0,0,0,0.75);
}

.item:hover>.nom{
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.808);
    display: flex;
    text-align: center;
    justify-content: center;
}

.item:hover>.butons{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
}


